@import "../../variables.scss", "../../mixins.scss";

.footer {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include block-content;

    @media screen and (min-width: 0) {
        padding: 3rem 0;
    }

    @media screen and (min-width: map-get($breakpoints, "extra-small")) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__paragraph {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 0.65rem;

    @media screen and (min-width: map-get($breakpoints, "extra-small")) {
        font-size: 0.875rem;
    }
}
