@import "../../variables.scss", "../../mixins.scss";

.clients {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
}

.clients__content {
    display: flex;
    flex-direction: column;

    @include block-content;
}

.clients__logos {
    display: flex;
    justify-content: space-between;
}

.client-logo {
    max-height: 12.5rem;
    object-fit: contain;
}
